/*Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario : #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'krona one', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    /* list-style: none; */
    outline: none !important;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
}

img{
    max-width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    padding: 5% 10%;
}

.logo, .main__contenido__titulo, .main__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
}



/*HEADER*/
.header__menu{
    display: flex;
    align-items: center;
    gap: 5em;
}
.header__menu__link{
    color: var(--color-terciario);
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 2px solid var(--color-primario);
}
.header__menu__link:hover{
    cursor: pointer;
    color: var(--color-secundario);
    border-bottom: 2px solid var(--color-secundario);
}

/*MAIN*/
.main__contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}
.main__contenido__titulo{
    font-size: 2.2em;
}
.resaltar__texto{
    color: var(--color-terciario);
}
.main__contenido__texto{
    font-size: 1em;
}

.main__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.main__enlaces__subtitulo{
    font-size: 1.2em;
}
.main__enlaces__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 24em;
    padding: 1em 0;
    border-radius: .5em;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    
}
.main__enlaces__link:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}

.main__lista{
    padding-top: 2em;
}



/*FOOTER*/
footer.container{
    padding: 1em;
    color: var(--color-primario);
    background-color: var(--color-terciario);
    text-align: center;
    justify-content: center;
    font-size: 1em;
}