/*Crear tres archivos CSS diferentes, cada uno con un estilo único, para el mismo archivo HTML: un archivo con un estilo formal y elegante, otro con un estilo colorido y divertido, y un tercero con un aspecto minimalista y limpio.*/

/*ESTILO COLORIDO*/
:root{
    --color-primario : #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #00ff22;
    --color-hover: #ffd518;
    /* #22D4FD */

    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'krona one', sans-serif;
}

/* :root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #00ff22;
    /* #ffd518 #803bff*

    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'krona one', sans-serif;
} */

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


.header__menu__link{
    border-bottom: 2px solid transparent;
}

.main__enlaces__link img{
    filter: brightness(0) saturate(100%) invert(58%) sepia(91%) saturate(2783%) hue-rotate(90deg) brightness(119%) contrast(118%);
}

.main__enlaces__link:hover{
    color: var(--color-primario);
    border: 2px solid var(--color-hover);   
    background-color: var(--color-hover);
    cursor: pointer;
}
.main__enlaces__link:hover img{
    filter: brightness(0) saturate(100%) invert(0%) sepia(95%) saturate(5%) hue-rotate(107deg) brightness(92%) contrast(100%);
}



footer.container{
    color: var(--color-primario);
    background-color: var(--color-hover);

}
.footer__enlaces__link{
    color: var(--color-primario);
    border-bottom: 2px solid var(--color-hover);
}
.footer__enlaces__link:hover, .footer__enlaces__link:active{
    color: var(--color-secundario);
    border-bottom: 2px solid var(--color-secundario);
}